* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold: #ec5242;
  --dark: #000;
}

body {
  background-color: var(--dark);
}

img {
  display: none;
}

.container {
  margin: 150px auto;
  display: block;
  border: 10px solid var(--gold);
}
